
* {
    box-sizing: border-box;
}
/*Global styles*/
body {
    font-family: 'Montserrat';
    font-size: 1rem;
    margin:0;
    padding:0;
    max-width:100vw;
    max-height: 100vw;
    display:flex;
    flex-direction: column;
    }

img {
    max-width:600px;
    margin: 0 auto;
}


main p  {
        color: #21090e;
        font-size: 1rem;
        line-height: 140%;
        font-weight: 200;
        padding-left: 1rem;
        padding-right: 1rem;
        }



ul li {
    color: #21090e;
    line-height:140%;
    font-size: 1rem;}

a {
    color:#fc455a;
    text-decoration: none;
        }
        
a:hover {
        color:#c99da7;
        }
h1,h2,h3,h4 h5 {
        color: #fc455a;
        font-weight:800;
        padding: 1px 1rem;

        }
h1 {
    font-size: 1.3rem;
}
h2 {
    font-size: 1.2rem;
}
h3 {
    font-size: 1.1rem;
}
h4 {
    font-size: 1.1rem;
}

/*header styling* - the container div stops the header elements becoming too spaced apart on big screens*/


.container {
    width: 960px;
    max-width: 100%;
    margin: 0 auto;
}

.site_header {
    background-color: #a11b5a;
}

.site_title {
    margin:0px;
    padding:0px;
    font-size: 1.2rem;
}

.site_header .container  {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding:10px;
}

.top_nav ul {
    list-style-type: none;
    text-align:center;
    margin: 10px 0 0 10px;
    
}

.top_nav li {
    display:inline;
    padding: 0 5px;
}
.top_nav a {
    color:#fff;
    text-decoration: none;
    display:inline-block;
}

.top_nav a:hover {
    color:#fc455a;
}


/*styling for exercise 2 section*/

.exercise2 {
    padding: 10px 0;
    background-color: #4b2336;
}

.exercise2 img {
max-width: 350px;}

.image {
display:flex;
flex-direction: row;
justify-content:space-between;
padding: 20px 0;

}
.exercise2 ul {
    padding: 1rem 3rem;
    
}

.exercise2 li {
    color:#fc455a;
    list-style-type: square;
}
 /*styling for footer*/
footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #a11b5a;
    text-align: center;
    color:#fc455a;
}
footer a {
    color: #f8d6de;
}
footer a:hover 
{
    color:#fc455a;
}
/*media queries - fix image size on mobile*/
@media screen and (max-width: 800px) {
    img {
        
        width: 85%;
    }
}

form {
   margin: 10px;
    padding: 20px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:space-between;     ;
    align-items:flex-start;
    gap: 10px;
    background-color:#f8d6de;
    border:#fc455a solid 2px;
}

input {
    width: 100%;
    max-width: 600px;
    min-height: 30px;
    font-size: 1rem;
}

@media screen and (min-width: 820px) {
 
    main p {
        padding: 2rem 5rem;
    }

    main h1, h2, h3, h4, h5 {
        padding: 0  5rem;
    }
    
    
}