
:root {
    --main_header: #a11b5a;
    --crazy_head:#fc455a;
    --font_co:#30081b;
    --pale_contrast:hsl(211, 25%, 82%);
    --pale_contrast: #ffe9ee;
    --link_visited:hsl(211, 50%, 60%);
    
}

* {
    box-sizing: border-box;
}
/*basic styles for small screens*/
body {
    font-family: 'Montserrat';
    font-size: 1rem;
    margin:0;
    padding:0;
    max-width:100vw;
    max-height: 100vw;
    /*display:flex;
    flex-direction: column;
    */
}

main {
    padding: 1.5rem;
}
p  {
    color: var(--font_co);
    font-size: 1rem;
    font-weight: 400;    
    }
a {
    text-decoration: none;
    color: var(--sensible_head);
    }
a:hover {
    color: var(--crazy_head);
}
a:visited {
    color: var(--link_visited);
}
a:active {
    color: var(--main_header);
}
h1,h2,h3,h4, h5 {
        color: var(--main_header);
        font-weight:800; }
h1 {
    font-size: 1.4rem;
}
h2 {
    font-size: 1.2rem;
}
h3 {
    font-size: 1.1rem;
}
h4 {
    font-size: 1.1rem;
}

.exercise_4
{padding: 5px 5px;
border: solid var(--main_header) 1px;
}

tr:nth-child(even) {
        background-color: var(--pale_contrast);
      }


/*main ul {
    padding-left: 2rem;
    padding-right: 1rem;
}
*/
/*header styling using flex*/

.site_header {
    background-color: #a11b5a;
}

.site_title a {
    margin:0px;
    padding:0px;
    font-size: 1.2rem;
    color: var(--crazy_head);
}

.site_header {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding:10px;
}

.top_nav ul {
    list-style-type: none;
    
    
}
/*

.top_nav li {
    display:inline;
    padding: 0 5px;
}*/
.top_nav a {
    color:#fff;
    text-decoration: none;}
    /*display:inline-block;

*/
.top_nav a:hover {
    color:#fc455a;
}

/*styling for exercise 2 section*/

.exercise2 {
    
    background-color: #4b2336;
}

.exercise2 img {
max-width: 350px;}

.image {
display:flex;
flex-direction: row;
justify-content:space-between;
padding: 20px 0;

}
.exercise2 ul {
    padding: 1rem 3rem;
    
}

.exercise2 li {
    color:#fc455a;
    list-style-type: square;
}
 /*styling for footer*/
footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #a11b5a;
    text-align: center;
    color:#fc455a;
}
.h1_footer {
    color: var(--crazy_head);
}
footer a {
    color: #f8d6de;
}
footer a:hover 
{
    color:#fc455a;
}

form {
    padding: 10px;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content:space-between;     ;
    align-items:stretch;
    gap: 10px;
    background-color:#f8d6de;
    border:#fc455a solid 2px;}

    /*input {
    width: 100%;
    max-width: 600px;
    min-height: 30px;
    font-size: 1rem;
}

/MEDIA QUERIES*/

/*media queries - fix image size on mobile*/
@media screen and (max-width: 800px) {
    img {
        
        width: 85%;
    }
}

*/
/*styling for bigger screens*/

@media screen and (min-width: 1000px) {
 
    main  {
        padding: 2rem 5rem;
    }
    form {
        padding: 40px;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content:space-between;     ;
        align-items:stretch;
        gap: 10px;
        background-color:#f8d6de;
        border:#fc455a solid 2px;
        max-width: 80%;
    }
    main ul {
        padding: 0 6em;
        }
    }