:root {
  --bgcolor: #f8efe8;
  --oncolor: #a04e3c;
  --fontdark: #414141;
  --alternative: #fe8168;
  --bright: #fea136;
  --accentteal: #00a0b0;
  --accentpurp: #373737;
  --accentfont: #edc951;
  --accentalt: #eb6841;
  --accentpeach: #fcedda;
  --alternativetan: #e0a96d;
  --alternativemar: #852751;
  --accentmoss: rgb(158, 185, 120);
  --lovelypink: rgba(249, 152, 152, 0.886);
  --xsmall: 0.5rem;
  --small: calc(var(--xsmall) * 1.5);
  --smallnormal: calc(var(--small) * 1.25);
  --normal: calc(var(--small) * 1.5);
  --large: calc(var(--normal) * 1.5);
  --xlarge: calc(var(--large) * 1.5);
}

/*reset styles*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  height: 100svh;
}

/*header styling */
.hB {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bgcolor);
  padding: var(--small) 0 var(--small) 0;
}
header nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--xsmall) 0 var(--xsmall) 0;
}

.site_logo {
  font-size: var(--normal);
  color: var(--oncolor);
}
a {
  text-decoration: none;
}
header a:hover {
  color: var(--alternative);
}

header a {
  color: var(--alternative);
  font-size: var(--normal);
}

main {
  padding: var(--xlarge);
  background-color: #f7856f;
}

main h1 {
  color: var(--bgcolor);
  font-size: var(--large);
}

.intro {
  padding-bottom: var(--normal);
}

/*styling for modal window button*/
.modalB {
  background-color: var(--bgcolor);
  color: var(--oncolor);
  border: solid 1px var(--oncolor);
  border-radius: 15px;
  font-size: var(--normal);
  padding: var(--normal);
  box-shadow: 0px 3px 15px #888888;
  min-width: 100px;
}
/*styling for modal window hidden*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 20px;
  top: 150px;
  overflow: auto;
  background-color: #fea136;
  padding: 5px 20px 5px 20px;
  border-radius: 15px;
  border: solid 1px var(--bgcolor);
}
/*styling for content of modal window*/
.modal_content {
  background-color: var(--bgcolor);
  margin: 10% auto;
  padding: 0 var(--normal) 0 var(--normal);
  border: 1px solid var(--alternative);
  border-radius: 2px;
  box-shadow: 0px 3px 15px var(--oncolor);
  font-size: var(--normal);
  color: var(--oncolor);
}

/* The Close Button on the modal window*/
.close {
  display: flex;
  flex-direction: row wrap;
  justify-content: flex-end;
  color: var(--fontdark);
  font-size: var(--xlarge);
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: var(--alternative);
  text-decoration: none;
  cursor: pointer;
}

.oldskool {
  padding: var(--normal) 0 var(--normal) 0;
}

.oldskool a {
  color: var(--bgcolor);
}

.oldskool h2 {
  color: var(--bgcolor);
  font-size: var(--normal);
}

.oldskool a:hover {
  color: var(--fontdark);
}

/*styling for web app pages*/

form {
  max-width: 100svw;
  padding: 2px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 5px;
  background-color: #f8d6de;

}

fieldset {
  border: none;
}

.grant_name {
  display:flex;
  flex-direction: column;

}
.enquiry {
  display:flex;
  flex-direction:column;
}

/*styling for contact link*/

.link
{display: flex;
flex-direction: column wrap;
align-items: center;
justify-content: center;}

.linkto {
  background-color: rgba(249, 152, 152, 0.886);
  border-radius: 5px;
  padding: 0 10px 0 10px;
  box-shadow: 0px 2px 15px rgba(249, 152, 152, 0.886);

}

.linkto a {
  color: var(--bgcolor);
}

.linkto a:hover {
  color: var(--alternativemar);
 ;

}

/*header and nav styling for web app pages*/

.top_nav_plus {
  overflow: hidden;
  background-color: var(--accentalt);
  position: relative;
}

.top_nav_plus #my_links {
  display: none;
}
.top_nav_plus a {
  color: #fff;
  padding: 10px;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
}

.top_nav_plus a:hover {
  color:var(--lovelypink);
  ;
}

.top_nav_plus a:active {
  color:var(--bgcolor);


}

.top_nav_plus a:visited {
  color:var(--bgcolor
  );
}

.top_nav_plus a:visited:hover {
  color:var(--accentmoss);
 
}


.top_nav_plus a.icon {
  background: var(--bgcolor);
  display: flex;
  position: absolute;
  right: 0px;
  top: 0px;
  color: var(--accentalt)
}

.active {
  background-color: var(--accentalt);
}
/*main section styling for the web app pages*/

.web_app {
  display: flex;
  flex-flow: column wrap;
  background-color: var(--fontdark);
  padding: var(--large);
}

.web_app h1 {
  color: var(--accentalt);
  font-size: var(--large);
}
.web_app h2 {
  color: var(--accentalt);
  font-size: var(--normal);
}

.web_app h3 {
  color: var(--accentalt);
  font-size: var(--normal);
}

.web_app p {
  color: var(--bgcolor);
  font-size: var(--smallnormal);
}

/*footer styling for the wep app pages*/
.web {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accentalt);
  color: var(--bgcolor);
  padding: 10px;
  gap: 20px;
}

.web ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.web li a {
  color: var(--bgcolor);
}

.web li a:hover {
  color: var(--alternativemar);
}

.web li a:active {
  color: var(--accentteal);
}



.address {
  border: solid 1px var(--fontdark);
  padding: 20px;
}


/*about pages styling*/
.web_about {
  background-color: var(--fontdark);
  color: #fff;
}

.web_about h1 {
  color: var(--accentalt);
}