/*reset browser defaults*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}
:root {
  --font_co: #fffbfb;
  --heading_co: #2a2e74;
  --contrast: #5c2c90;
  --background_contrast: #e8338b;
  --fontxs: .6em;
  --font_s: calc(var(--fontxs) * 1.25);
  --font_m: calc(var(--font_s) * 1.25);
  --font_l: calc(var(--font_m) * 1.55);
  --font_ml: calc(var(--font_m) * 1.25);
  --background: #c13979;
}

/*Basic Styles are all set for small screens*/

a {
  text-decoration:none;
}
p {
  padding: var(--fontxs) 0;
}
body {
  font-family: "Montserrat";
  font-size: var(--font_m);
  background-color: var(--background_contrast);
  color: var(--font_co);
}
h1 {
  font-size: var(--font_l);
  color: var(--heading_co);
}

h2,
h3,
h4,
h5 {
  font-size: var(--font_ml);
  color: var(--heading_co);
}
main {
  padding: 2rem;
  font-family: "Montserrat";
}
header 
{background-color: var(--contrast);}
footer 
{background-color: var(--contrast);}
/*navbar*/
.top_nav {
  padding: 1rem 0 1rem 0;
}
.top_nav h1 a {
  color: var(--font_co);
  text-decoration:none;
  font-size: var(--font_s);
}
.top_nav ul {
  list-style-type: none;
  padding:0;
  margin:0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.top_nav a {
  color: var(--font_co);
  text-decoration:none;
  display:block;
}
.top_nav a:hover {
  color: var(--background_contrast);
}
.top_nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}
/*footer nav*/
.footer_nav {
  padding: 2rem;
}

.footer_nav h1 a {
  font-size: var(--font_s);
  color: var(--background_contrast);
}
.footer_nav ul
{list-style-type: none;
  padding: 0;
  margin:0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.footer_nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}
.footer_nav a {
  color: var(--font_co);
  text-decoration:none;
  display:block;
}
.footer_nav a:hover {
  color: var(--background_contrast);
}
/*header formating for responsive_nav_bar.html page*/
.flex_model_body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site_header_flex {
  background-color: var(--background_contrast);
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  }
  .categories ul {
    display:flex;
    align-items: center;
    gap: .5rem; 
  }
  .categories {
    display: flex;
    gap: 1rem;}

  .news_app {
    display:flex;
  font-size: var() }

  input {
    display: flex;
    border: 1px solid var(--background_contrast);
    border-radius: 5px;
    justify-content:flex-end;
  margin-left: 10px;}

.site_header_flex ul {
    list-style-type: none;
    padding: 0;
    margin: 0; }

/*section styling for responsive_nav page*/
.response_test_section {
  background-color: #ffffff;
  color: var(--contrast);
}




.footer_nav


{
  background-color: #ffffff;
}

/*w3c example*/

#box {
  width:100%;
  height: auto;
  border: 1px solid #c3c3c3;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#box div {
  width: 150px;
  aspect-ratio: 1;
}
.coral {
  background-color: coral;
}
.blue {
  background-color:blueviolet;
}
.pink {
  background-color: pink;
  }
.red {
  background-color: rgb(193, 53, 53);
  }
.yellow {
    background-color: rgb(176, 173, 21);
  }
.orange {
    background-color: rgb(176, 106, 21);
  }

  /*media queries*/

  @media screen (min-width: 480px) {
    background-color: green;}
    
  {
    
  }