/*This is a style sheet for Exercise 1*/
/*Set up the main colors*/
:root {
    --main_font: #21090e;
    --head_font: #a11b5a;
    --minor_font: #6e5d61;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat';
    font-size: 1rem;
    margin:0
    padding:0
    }

/*header styling*/

.header {
    display:block;
    margin:0;
    width:100%;
    background-color: #a11b5a;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
        }

.site_title {
    color: #fc455a;
    font-size: 2rem;
}


/*nav styling*/
nav ul {
    list-style-type: none;
    display:flex;
    flex-direction:column;
    text-align: right;
    padding-right: 2rem;
        }
nav a {
    color: #fff;
     }

nav a:hover{
color:#cdb7bc
}
/*Basic styles*/

body {
    
}

p  {
    color: #be3455;
    font-size: 1 rem;
    }

a {
    color:#310d15;
    text-decoration: none;
    }
    
a:hover {
    color:#c99da7;
    }
h1,h2,h3,h4 {
    color: #be3455;
    }
h1 {
    font-size: 1.5rem;git 
    }

    /*styles for film section*/

.films {
    background-color: #c4ced6;
    padding: 1rem;
}

.films ul {
    font-size: 1rem;
    background-color: #c4ced6;
}
a {
    color:#310d15;
    text-decoration: none;}

a:hover {
    color:#c99da7;
}
h1,h2,h3,h4 {
    color: #be3455;
}
h1 {
    font-size: 24px;
}

h2,h3 {
    font-size: 22px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    max-width: 500px;
  }
/*basic styling for chedid section*/

.chedid p {
    color: #4f1523;
    font-size: 18px;
    padding-left:1rem;
    padding-right:1rem;
}

.chedid h1 {
    font-size: 1.7rem;
    color:#be3455;
    padding-left:1rem;
    padding-right:1rem;
}

.chedid h2 {
    font-size: 1.5rem;
    color:#BE3455;
    padding-right:1rem;
    padding-left: 1rem;}

    .chedid {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*styling for footer*/
.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #BE3455;
    text-align: center;
    color:#fff;
}

/*media queries - fix image size on mobile*/
@media screen and (max-width: 800px) {
    img {
        
        width: 85%;
    }
}