/*This is a style sheet for Exercise 1*/
/*Set up the main colors*/
:root {
    --main_font: #4f1523;
    --head_font: #be3455;
    --minor_font: #6e5d61;
}
* {
    box-sizing: border-box;
}




/*header styling*/

.header {
    display:block;
    margin:0;
    width:100%;
    background-color: #BE3455;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
        }

.header h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    color:#fff;
            }

            /*nav styling*/
            nav ul {
                list-style-type: none;
                display:flex;
                flex-direction:column;
                text-align: right;
            }
/*Basic styles*/
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    padding: 0;
    margin: 0;

}

p {
    color: #be3455;
    font-size: 18px;
}

a {
    color:#310d15;
    text-decoration: none;
}

a:hover {
    color:#c99da7;
}
h1,h2,h3,h4 {
    color: #be3455;
}
h1 {
    font-size: 24px;
}

h2,h3 {
    font-size: 22px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


/*styles for admin section*/
.admin
{color: #6e5d61;}
.admin p {
    font-size: 16px;
    color: #6e5d61;

        }

.admin ol {
color: #6e5d61;
font-size: 16px;

}

.admin h1 {
    color: #6e5d61;
    
    font-size: 18px;
            }

.admin h2 {
        color: #6e5d61;
        
        font-size: 16px;
            }

.admin h3
    {color: #6e5d61;
        
        font-size: 16px;
        }
    
 
/*styling for chedid section*/
.chedid p {
    color: #4f1523;
    font-size: 18px;
}
.chedid h1 {
    font-size: 28px;
    color:#BE3455;}

.chedid {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*styling for footer*/
.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #BE3455;
    text-align: center;
    color:#fff;
}

/*media queries - fix image size on mobile*/
@media screen and (max-width: 800px) {
    img {
        
        width: 95%;
    }
}